@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&family=Fredoka:wght@300;400;500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PT sans-serif, sans-serif;
    line-height: 1.6;
    background-color: #ffb92f;
}

.nav-list {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

.nav-list li {
    list-style: none;
}

.nav-list img {
    max-width: 50px;
    min-height: 20px;
    color: #111111;
}